/* Give your page a fun background color */

body {
      background-color: #0000ff;
}

/* Make the header and footer a different color from the background */

header {
        background-color: #f8f8ff;
}

footer {
        background-color: #808080;
}

/* Align the h1 containing your name in the center of the header*/

h1 {
    text-align: center;
}

/* Make your p tag a different color and italic */

p {
    color: #ff0000;
    font-style: italic;
}

/* Put a border around your image */

img {
        border: 2px solid black;
        width: 270px;
}
/* Source is W3 Schools to put a border around an image */

/* Change the font-family of your list */

li {
     font: Helvetica;
}
